<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="CSAConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CyberShieldAcademy.mdf;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!-- Full path to VBoxManage.exe. Leave as-is for a default VirtualBox install;
         change it if VirtualBox lives somewhere else on the machine hosting the site. -->
    <add key="VBoxManagePath" value="C:\Program Files\Oracle\VirtualBox\VBoxManage.exe"/>
    <!-- SMTP Configuration for email notifications -->
    <add key="SmtpHost" value="localhost"/>
    <add key="SmtpPort" value="2525"/>
    <add key="SmtpUser" value=""/>
    <add key="SmtpPass" value=""/>
    <add key="FromEmail" value="test@local.com"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8" maxRequestLength="20480" executionTimeout="180"/>
    <authentication mode="None"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <pages>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- 20 MB, matches httpRuntime maxRequestLength above (bytes vs KB) -->
        <requestLimits maxAllowedContentLength="20971520"/>
      </requestFiltering>
    </security>
    <staticContent>
      <!-- Office Open XML formats aren't in some IIS/IIS Express default MIME maps and
           404 without these, needed to serve uploaded attachments from ~/Content/Uploads/.
           remove-then-add avoids a fatal duplicate-key error if already registered. -->
      <remove fileExtension=".docx"/>
      <mimeMap fileExtension=".docx" mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
      <remove fileExtension=".xlsx"/>
      <mimeMap fileExtension=".xlsx" mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
      <remove fileExtension=".pptx"/>
      <mimeMap fileExtension=".pptx" mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation"/>
      <remove fileExtension=".webp"/>
      <mimeMap fileExtension=".webp" mimeType="image/webp"/>
      <!-- v86 in-browser Linux terminal: WebAssembly module -->
      <remove fileExtension=".wasm"/>
      <mimeMap fileExtension=".wasm" mimeType="application/wasm"/>
    </staticContent>
  </system.webServer>
  <!-- The browser terminal uploads its saved machine state (gzip, can be tens of MB)
       to TerminalState.ashx, so that one endpoint gets a 100 MB limit instead of the
       site-wide 20 MB. -->
  <location path="TerminalState.ashx">
    <system.web>
      <httpRuntime targetFramework="4.8" maxRequestLength="102400" executionTimeout="300"/>
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="104857600"/>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>